<form [formGroup]="modelForm" (submit)='enviarForm()' style="padding: 10px;">
  <div class="card">
    <div class="card-body">

      <div class="form-row">
        <div class="form-group col-md-6">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" formControlName='nome'  [ngClass]="controleValido(modelForm.get('nome'))" />
        </div>

        <div class="form-group col-md-6">
          <label for="valorOriginal">Valor Original</label>
          <input [imask]="imaskConfig" type="text" class="form-control" formControlName='valorOriginal'  [ngClass]="controleValido(modelForm.get('valorOriginal'))" />
        </div>
      </div>

      <div class="form-row">

        <div class="form-group col-md-6">
          <label for="dataVencimento">Data de Vencimento</label>
          <input id="dataVencimento" type="date" class="form-control" value="2017-06-01" formControlName='dataVencimento'  [ngClass]="controleValido(modelForm.get('dataVencimento'))" />
        </div>

        <div class="form-group col-md-6">
          <label for="dataPagamento">Data de Pagamento</label>
          <input id="dataPagamento"  type="date" class="form-control" formControlName='dataPagamento'  [ngClass]="controleValido(modelForm.get('dataPagamento'))" />
        </div>
      </div>
    </div>

  </div>
  <button type="submit" class="btn btn-success float-right mt-3">Salvar</button>
  <button type="button" class="btn btn-primary float-right mt-3 mr-2" (click)="cancelar($event)">
    Cancelar
  </button>
</form>
